<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>

<h1>selectPerson1</h1>
<form action="/user/selectPerson1" method="post">
    <label >输入要查询的id：</label>
    <input type="text"  name="id"><br>
    <button type="submit">查询</button>
</form>

<h1>selectPerson2</h1>
<form action="/user/selectPerson2" method="post">
    <label >输入要查询的id：</label>
    <input type="text"  name="id"><br>
    <button type="submit">查询</button>
</form>

<h1>selectPerson3</h1>
<form action="/user/selectPerson3" method="post">
    <label >输入要查询的id：</label>
    <input type="text"  name="id"><br>
    <button type="submit">查询</button>
</form>
</body>
</html>