<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="UserAndOrder1" type="com.example.demo.dao.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <collection property="ordersList" ofType="com.example.demo.dao.Orders" column="id"  select="com.example.demo.mapper.OrderMapper.selectOrderById"/>
    </resultMap>
    <select id="selectUserOrdersById1" parameterType="Integer" resultMap="UserAndOrder1">
        select * from user where id=#{id}
    </select>

    <resultMap id="UserAndOrder2" type="com.example.demo.dao.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <collection property="ordersList" ofType="com.example.demo.dao.Orders" >
            <id property="id" column="user_id"/>
            <result property="ordersn" column="ordersn"/>
        </collection>
    </resultMap>
    <select id="selectUserOrdersById2" parameterType="Integer" resultMap="UserAndOrder2">
        select u.*, o.id, o.ordersn from user u, orders o where o.user_id=u.id and u.id=#{id}
    </select>

    <select id="selectUserOrdersById3" parameterType="Integer" resultType="com.example.demo.dao.SelectUserOrdersById">
        select u.*, o.id, o.ordersn from user u, orders o where o.user_id=u.id and u.id=#{id}
    </select>
</mapper>
